
<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      登録が完了しました
    </h1>
  </div>
  <%= link_to "トップへ戻る", root_path, class: "top-return sign-up" %>

</div>
<% end %>

<%= render "shared/second-footer"%> 